* {
    margin: 0;
    box-sizing: border-box;
}

h1 { 
    font-size: 2em; 
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: #EFF6FF;
    color: #2A4A5C;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.logo-half {
    width: 50%;
    height: 100vh;
    background: url("images/bg.jpg") center no-repeat;
    background-size: cover;
}

.logo {
    margin: 40px 0 0 40px;
    width: 200px;
    height: 40px;
}

.form-half {
    height: 100vh;
    width: 50%;
    padding: 8vh 5vw;
}

.form__title {
    margin-bottom: 2vh;
}

.form__disclaimer {
    font-weight: normal;
    color: #7B8A92;
    margin-bottom: 4vh;
}

.network-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.link {
    width: 45%;
    padding: 15px 10px;
    text-decoration: none;
    color: #ffffff;
    transition: 0.1s linear;
    border-radius: 2px;
}

.link:hover, .link:focus {
    outline: none;
    transform: translateY(-10px);
}

.link__img {
    position: absolute;
    width: 20px;    
}

.link__text {
    text-align: center;
}

.facebook {
    background-color:  #255A9B;
}

.linkedin {
    background-color: #0076B6;
}

.or {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3vh;
}

.or::before, .or::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 1px;
    width: 150px;
    background-color: #AFAFAF;
    z-index: 1;
    margin-right: 10px;
}

.or::after {
    margin-right: 0;
    margin-left: 10px;
}

.form__person {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.person__label {
    width: 45%;
    border: 1px solid #afafaf;
    padding: 5px 10px;
    color: #7B8A92;
}

.text-input {
    width: 100%;
    padding: 10px 0;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    border: none;
    background-color:#EFF6FF ;
}

.text-input:focus {
    outline: none;
}

.person__label:has(> .text-input:focus) {
    border-left: 1px solid #3698FB;
}

.form__investor {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.radio {
    display: flex;    
    width: 20%;
    padding: 0 25px;
    font-weight: bold;
    margin-bottom: 12vh;
    cursor: pointer;
}

.radio__info {
    width: 1.2em;
    height: 1.2em;
    margin-left: 3px;
}

.radio__input {
    appearance: none;
}

.radio__circle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background-color: #EFF6FF;
    border-radius: 50%;
    border: 2px solid #afafaf;
    margin-left: -25px;
}

.radio__input:checked + .radio__circle {
    border: 4px solid #3698FB;
}

.radio__input:focus + .radio__circle {
    border: 4px solid #3698FB;
}

.description {
    width: 280px;
    color: #afafaf;
    background-color: #ffffff;
    padding: 10px;
    box-shadow:0 0 10px 0 #afafaf;
    position: absolute;
    left: 0;
    top: 4vh;
    opacity: 0;
    transition: .2s linear;
    z-index: -1;
    margin-bottom: 2vh;
    font-size: 14px;
}

.radio:hover > .description {
    opacity: 1;
    transition: .2s linear;
}

.check {
    padding-left: 25px;
    position: relative;
    color: #7B8A92;
    cursor: pointer;
}

.check__input {
    appearance: none;
}

.check__box {
    width: 1em;
    height: 1em;
    position: absolute;
    margin-left: -25px;
    top: 2px;
    background-color: #EFF6FF;
    border: 1px solid #afafaf;
    border-radius: 2px;
}

.check__input:checked + .check__box {
    background-color: #255A9B;
}

.check__input:focus + .check__box {
    outline: 1px solid #3698FB;
}

.check__link {
    color: #3698FB;
}

.submit-btn {
    display: block;
    margin-top: 5vh;
    background-color: #3698FB;
    color: #fff;
    border: none;
    padding: 10px 50px;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
    border-radius: 4px;
}

.submit-btn:hover {
    cursor: pointer;
    animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

  @keyframes shake-vertical {
    0%,
    100% {
              transform: translateY(0);
    }
    10%,
    30%,
    50%,
    70% {
              transform: translateY(-8px);
    }
    20%,
    40%,
    60% {
              transform: translateY(8px);
    }
    80% {
              transform: translateY(6.4px);
    }
    90% {
              transform: translateY(-6.4px);
    }
  }
  