.currency {
  margin-bottom: 30px;
  .currency-title {
    text-transform: uppercase;
    margin-bottom: 20px;
  }
  
  .currency-item {
    padding: 15px 20px;
    font-family: 'OpenSans';
    height: auto;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 20px;
  }
}